:root {
  /* PRIMARY COLORS */
  --darkViolet: hsl(256, 26%, 20%);
  --grayishBlue: hsl(216, 30%, 68%);

  /* NEUTRAL COLORS */
  --veryDarkViolet: hsl(270, 9%, 17%);
  --darkGrayishViolet: hsl(273, 4%, 51%);
  --veryLightGray: hsl(0, 0%, 98%);

  /* TYPOGRAPHY */
  --dmSerifDisplay: "DM Serif Display", sans-serif;
  --karla: "Karla", sans-serif;
}

*::before,
*,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  padding: 0 25px;
  margin: 10px 0;
  font-weight: 400;
  line-height: 1.1;
}

h1,
h2,
h3 {
  font-family: var(--dmSerifDisplay);
}

ul {
  list-style: none;
  font-family: var(--karla);
}

button {
  border: none;
}

p {
  font-family: var(--karla);
  font-weight: 400;
}

div p {
  line-height: 1.5;
  padding: 20px;
}

.header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.menu-bar {
  display: none;
}

.main-img-container {
  background-image: url("/images/image-intro-mobile.jpg");
  background-size: cover;
  /* 450px = 28.125em */
  height: 28.125em;
  background-position: center;
}

.main-text-container {
  color: var(--veryLightGray);
  padding: 70px 15px;
  text-align: center;
  background-image: url("images/bg-pattern-intro-left-mobile.svg"),
    url("images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  background-color: var(--darkViolet);
}

.hero-btn {
  background-color: var(--darkViolet);
  border: 2px solid var(--veryLightGray);
  color: var(--veryLightGray);
  text-transform: uppercase;
  font-family: var(--karla);
  padding: 10px 25px;
  margin: 10px 0;
  letter-spacing: 2px;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
